p{
    font-size: 25px;
    font-family:"Agency FB";
    text-align: center;
}


.blink_me {
 animation: blinker 1s linear infinite;
}

@keyframes blinker {  
 50% { color: red; }
}

h1{
    font-weight: bold;
    font-family:"Agency FB";
    text-align: center;
    font-size: 40px;
}

h1.green{
    font-weight: bold;
    font-family:"Agency FB";
    text-align: center;
    font-size: 40px;
    color:lawngreen;
}


.div1 img{
   float: left;
}

.div2 img{
    float: right;
}


h2{
    font-size: 35;
    font-family:"Agency FB";
    text-align: center;
    font-weight: bold;
}

h3{
    font-size:30;
    font-family:"Agency FB";
    text-align:Center;
    font-weight:bold;
}